<div class="child_spot">
	<img src="/assets/kid.jpg" alt="<%= @spot.child.name %>" class="kid_photo">
	<div class="weeks_stat">
		<p><span><%= ((Date.today.to_date - @spot.child.dob.to_date).to_i)/7 %></span><br>Semanas</p>
	</div>
	<div class="kid_stats">
		<p><%= @spot.child.name %></p>
		<p><%= ("#{ @spot.child.first_last_name } #{ @spot.child.second_last_name }").slice(0..13) %>.</p>
	</div>
	<div class="child_remove">
		<button type="button" class="btn btn-danger btn-xs"><%= link_to "Quitar", group_spot_path(@group, @spot), method: :delete, data: { confirm: "Estas Seguro?" } %></button>
	</div>
</div>