<% counter = 0 %>
	<% @childs.each do |c| %>
	<% counter += 1 %>
	<a href="/spots/create?child_id=<%= c.id %>&group_id=<%= @group.id %>" data-remote="true"  class="child_selector child_<%= c.id %>" id="child_selector_<%= counter %>" data-childid="<%= c.id %>" data-weeks="<%= ((Date.today.to_date - c.dob.to_date).to_i)/7 %>">
		<div class="child_spot">
			<img src="/assets/kid.jpg" alt="<%= c.name %>" class="kid_photo">
				<div class="weeks_stat">
				<p><span><%= ((Date.today.to_date - c.dob.to_date).to_i)/7 %></span><br>Semanas</p>
			</div>
			<div class="kid_stats">
				<p><%= c.name %></p>
				<p><%= ("#{ c.first_last_name } #{ c.second_last_name }").slice(0..13) %>.</p>
			</div>
			<div class="child_selected">
				activar
			</div>
		</div>
	</a>
<% end %>