<% provide(:title, "#{@group.name} / #{@spot.child.name} #{@spot.child.first_last_name} #{@spot.child.second_last_name}") %>
<div class="boton_der">
	<p>
	  <button type="button" class="btn btn-info"><%= link_to "Regresar a Spots", group_path(@group) %></button>
	</p>
	<% if @spot.child.family_relations.first.family.status? %>
		<p>
			<button type="button" class="btn btn-default btn-xs"><%= link_to "Editar Spot", edit_group_spot_path(@group,@spot) %></button>
		</p>
		<p>
			<button type="button" class="btn btn-default">
				<%= link_to "Nuevo Pago", new_group_spot_payment_path(@group, @spot) %>
			</button>
		</p>
	<% end %>
</div>
<% if !@spot.child.family_relations.first.family.status? %>
	<div class="alert alert-error">La familia está en modo pasivo. No puede llevar a cabo esta acción.</div>
<% end %>
<div class="row">
  <div class="span10 offset1">
  	<h1>Pagos</h1>
	<table class="table table-striped">
		<tr>
			<th>Fecha</th>
			<td>Monto</td>
			<td>Beca</td>
		</tr>
		<% @spot.payments.each do |payment| %>
			<tr>
				<td><%= payment.date %></td>
				<td>$<%= payment.amount %>.00</td>
				<% if(payment.scholarship) %>
					<td>SI</td>
				<% else %>
					<td>NO</td>
				<% end %>
			</tr>
		<% end %>
	</table>
  </div>
</div>