<% provide(:title, "#{@spot.child.name} #{@spot.child.first_last_name} #{@spot.child.second_last_name}") %>
<div class="boton_izq">
	<p>
	  <button type="button" class="btn btn-info"><%= link_to "Regresar a Spots", group_path(@group) %></button>
	</p>
	<p>
		<button type="button" class="btn btn-default btn-xs"><%= link_to "Editar Spot", edit_group_spot_path(@group,@spot) %></button>
	</p>
	<p>
		<button type="button" class="btn btn-default">
			<%= link_to "Nuevo Pago", new_group_spot_payment_path(@group, @spot) %>
		</button>
	</p>
</div>
<div class="row">
  <div class="span10 offset1">
  	<h1>Pagos</h1>
	<table class="table table-striped">
		<tr>
			<th>Fecha</th>
			<td>Monto</td>
			<td>Beca</td>
			<td>Editar</td>
			<td>Borrar</td>
		</tr>
		<% @spot.payments.each do |payment| %>
			<tr>
				<td><%= payment.date %></td>
				<td>$<%= payment.amount %>.00</td>
				<% if(payment.scholarship) %>
					<td>SI</td>
				<% else %>
					<td>NO</td>
				<% end %>
				<td><button type="button" class="btn btn-default btn-xs"><%= link_to "Editar Pago", edit_group_spot_payment_path(@group, @spot, payment) %></button></td>
				<td><button type="button" class="btn btn-danger btn-xs"><%= link_to "Borrar Pago", group_spot_payment_path(@group, @spot, payment), method: :delete, data: { confirm: "Estas Seguro?" } %></button></td>
			</tr>
		<% end %>
	</table>
  </div>
</div>