<% unless signed_in? %>
	<% provide(:title, "Iniciar Sesión") %>
	<div>
	    <%= form_for(:session, url: sessions_path) do |f| %>

			<%= f.label :email, :for => "session_email" %>
			<%= f.text_field :email %>

			<%= f.label :password, :for => "session_password" %>
			<%= f.password_field :password %>
			<br>
	      	<%= f.submit "Sign in", class: "btn btn-large btn-primary" %>

		<% end %>
	</div>
<% else %>
	<% provide(:title, "#{current_user.name}") %>
	<div>
		<h2><%= "#{current_user.name} is logged-in"%></h2>
	</div>
<% end %>