<% provide(:title, "Cambiar contrase単a de: #{@user.name}") %>

<div class="boton_der">
	<p>	<button type="button" class="btn btn-info"><%= link_to "Regresar a Perfil", edit_user_path %></button></p>
</div>
<div class="row">
  <div class="span6 offset3">
    <%= form_for @user, :url => password_reset_path(params[:id]) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <% if !current_user.admin? %>
    <p>
      <%= f.label :old_password, 'Contrase単a Actual' %>
      <%= f.password_field :old_password %>
    <p>
  <% end %>
    <%= f.label :password, "Contrase単a" %>
    <%= f.password_field :password %>
  </p>
  <p>
    <%= f.label :password_confirmation, "Confirmar contrase単a" %>
    <%= f.password_field :password_confirmation %>
  </p>
  <%= f.submit "Guardar", class: "btn btn-sm btn-info" %>
<% end %>
  </div>
</div>