<div class="boton_izq">
	<p>
	  <button type="button" class="btn btn-info"><%= link_to "Regresar a Grupo", group_path(@group) %></button>
	</p>
	<p>
		<button type="button" class="btn btn-danger btn-xs"><%= link_to "Borrar Clase", group_lecture_path(@group, @lecture), method: :delete, data: { confirm: "Estas Seguro?" } %></button></td>
	</p>
</div>
<div class="row">
	<div class="span6 offset3">
		<%= form_for([@group, @lecture]) do |f| %>
		<%= render 'shared/error_messages', object: f.object %>
		<p>
			<%= f.label "Fecha & hora" %>
			<span id="selector_fecha">
				<%= f.datetime_select :date,  { :include_blank  => true, :order => [:day, :month, :year] }, :class => 'date_selector' %>
			</span>
		</p>
		<p>
			<%= f.label "Observaciones" %>
			<%= f.text_area :observation %>
		</p>
		<% if(@lecture.attendances.empty?) %>
			<p>
				<%= f.label "Esta clase no tiene aún asistencias" %>
				<button type="button" class="btn btn-default">Agregar asistencias</button>
			</p>
		<% else %>
			<p>
				<%= f.label "Asistencias" %>
			</p>
			<% @lecture.attendances.each do |a| %>
				<%= a.person.name %>
			<% end %>
		<% end %>
		<p>
			<%= f.submit "Guardar", class: "btn btn-sm btn-primary" %>
		</p>
		<% end %>
	</div>
</div>