<div class="boton_der">
	<p>
	  <button type="button" class="btn btn-info">
	  	<%= link_to "Regresar a Grupo", group_path(@group) %>
	  </button>
	</p>
</div>
<div class="row">
	<div class="span8 offset2">
		<table class="table table-striped">
			<tr>	
				<th>Fecha</th>
				<th>Hora</th>
				<th>Observación</th>
			</tr>	
			<tr>
				<td><%= @lecture.date.strftime('%m/%d/%Y') %></td>
				<td><%= @lecture.date.strftime('%I:%M %p') %></td>
				<td><%= @lecture.observation %></td>
			</tr>
		</table>
		<table>
			<tr>
				<th>uno dos tres</th>
				<th>uno dos tres</th>
				<th>uno dos tres</th>
			</tr>
		</table>
	</div>
</div>
<div class="boton_der">
	<p>
		<button type="button" class="btn btn-danger btn-xs">
			<%= link_to "Borrar Clase", group_lecture_path(@group, @lecture), method: :delete, data: { confirm: "Estas Seguro?" } %>
		</button>
	</p>
	<p>
		<button type="button" class="btn btn-default btn-xs"><%= link_to "Editar Clase", edit_group_lecture_path(@group, @lecture) %></button>
	</p>
</div>