<div class="row">
  <div class="span6 offset3">
	<%= form_for([@family, @person]) do |f| %>
	<%= render 'shared/error_messages', object: f.object %>
	<p>
	    <%= f.label "Nombre" %>
	    <%= f.text_field :name %>
	</p>
	<p>
	    <%= f.label "Apellido Paterno" %>
	    <%= f.text_field :first_last_name %>
	</p>
	<p>
	    <%= f.label "Apellido Materno" %>
	    <%= f.text_field :second_last_name %>
	</p>
	<p>
	  	<%= f.label "Sex" %>
	  	<%= f.label "M" ,:class => "checkbox inline"%>
	  	<%= radio_button("person", "sex", "M") %>
	  	<%= f.label "F" ,:class => "checkbox inline"%>
		  <%= radio_button("person", "sex", "F") %>
	  </p><br>
	  <p>
	    <%= f.label "Fecha de Nacimiento" %>
	    <span class="selector_fecha">
				<%= f.date_select :dob,{ :include_blank => true ,:order => [:day, :month, :year], :start_year => Time.now.year, :end_year => Time.now.year-100}, { :class => 'date_selector'}  %>
			</span>
	  </p>

	  <p>
	  	<%= f.label "Roll Familiar" %>
	  	<%= select("person", "family_roll", [[ 'Hijo', 'Hijo', :class => 'man' ], [ 'Hija', 'Hija', :class => 'woman' ], [ 'Padre', 'Padre', :class => 'man' ], [ 'Madre', 'Madre', :class => 'woman' ], [ 'Abuelo', 'Abuelo', :class => 'man' ], [ 'Abuela', 'Abuela', :class => 'woman' ], [ 'Tio', 'Tio', :class => 'man' ], [ 'Tia', 'Tia', :class => 'woman' ], [ 'Otro', 'Otro' ]], { include_blank: 'Selecciona un rol'}) %>
	  	<br>
	  	<input id="other_name" type="text" placeholder="Escribe el parentesco" style="margin-top: -48px; width: 185px; display:none; " name="person[other]">
	</p><br>
	<p>
	    <%= f.submit "Guardar", class: "btn btn-sm btn-primary" %>
	</p>
	<% end %>
  </div>
</div>

<script>
	$(document).ready(function() {
		$("#person_family_roll").change(function () {
			var value = $(this).val();
			if(value=='Otro') $("#other_name").val("").show().focus();
			else $("#other_name").hide().blur();
		});

		$("#other_name").on('keyup',function(e){
			var newOption = $(this).val();
		});

		$('input:radio').click(function() {
			if($("#person_sex_m").is(':checked')){
				$('.man').show();
				$('.woman').hide();
			}else{
				$('.man').hide();
				$('.woman').show();
			}
		});
	});
</script>