<% provide(:title, "Familia: #{ @family.name }") %>

<div class="boton_der">
	<p>
	  <button type="button" class="btn btn-info"><%= link_to "Regresar a Socios", families_path %></button>
	</p>
	<p>
	  <button type="button" class="btn btn-default"><%= link_to "Nuevo Miembro",new_family_person_path(@family) %></button>
	</p>
</div>

<h2>Miembros</h2>
<table class="table table-striped">
<tr>
	<th>Nombre</th>
	<th>Apellido Paterno</th>
	<th>Apellido Materno</th>
	<th>Sexo</th>
	<th>Fecha de Nacimiento</th>
	<th>Relación</th>
	<th>Editar</th>
	<th>Borrar</th>
</tr>
<% @family.family_members.order("name ASC").each do |member| %>
<tr>
	<td><%= link_to member.name, member %></td>
	<td><%= member.first_last_name %></td>
	<td><%= member.second_last_name %></td>
	<td><%= member.sex %></td>
	<td><%= member.dob %></td>
	<td><%= member.family_roll %></td>
	<td><button type="button" class="btn btn-default btn-xs"><%= link_to "Editar", edit_family_person_path(@family, member) %></button></td>
	<td><button type="button" class="btn btn-danger btn-xs"><%= link_to "Borrar", family_person_path(@family, member), method: :delete, data: { confirm: "Estas Seguro?" } %></button></td>
</tr>
<% end %>
</table>
<div>
	<% if @family.can_destroy? %>
		<p class="boton_der">
			<button type="button" class="btn btn-danger"><%= link_to "Borrar Familia", @family, method: :delete, data: { confirm: "Estas Seguro?" } %></button>
		</p>
	<% end %>
	<p class="boton_der">
		<button type="button" class="btn btn-default"><%= link_to "Editar Nombre de la Familia", edit_family_path %></button>
	</p>
</div>
<div>
	<h3>Contacto:<span class="line"></span></h3>
	<% if @family.address %>
		<p><%= @family.styled_address %></p>
		<p><%= @family.styled_contact_info %></p>
		<p>Referencia: <%= @family.address.referencia %></p>
		<p class="boton_izq">
		  <button type="button" class="btn btn-default"><%= link_to "Editar Contacto", edit_family_address_path(@family, @family.address) %></button>
		</p>
	<% else %>
		<p class="boton_izq">
			<button type="button" class="btn btn-warning"><%= link_to "Falta Información de Contacto", new_family_address_path(@family) %></button>
		</p>
	<% end %>
</div>