  	<h1>Datos del grupo</h1>
	<%= form_for(@group) do |f| %>
	<%= render 'shared/error_messages', object: f.object %>
	  <p>
	    <%= f.label "Nombre del Grupo" %>
	    <%= f.text_field :name %>
	    <%= f.label "Facilitador" %>
	    <%= select("group", "user_id", User.all.collect {|p| [ p.name, p.id ] }, { include_blank: 'Selecciona'}) %>
	    <%= f.label "Edad mínima (Semanas)" %>
	    <%= f.number_field :min_age %>
	    <%= f.label "Edad máxima (Semanas)" %>
	    <%= f.number_field :max_age %>
	    <%= f.label "Inicio de curso" %>
	    <% if(f.object.init_date) %>
			<%= f.date_select :init_date, { :value => @group.init_date.strftime('%m/%d/%Y') } , { :class => 'date_selector' } %>
		<% else %>
			<%= f.date_select :init_date, { :value => (DateTime.now).strftime('%m/%d/%Y') } , { :class => 'date_selector' } %>
		<% end %>
	    <%= f.label "Fin de curso" %>
	    <% if(f.object.finish_date) %>
			<%= f.date_select :finish_date, { :value => @group.finish_date.strftime('%m/%d/%Y') } , { :class => 'date_selector' } %>
		<% else %>
			<%= f.date_select :finish_date, { :value => (DateTime.now).strftime('%m/%d/%Y') } , { :class => 'date_selector' } %>
		<% end %>
	    <%= f.label "Costo" %>
	    <%= f.number_field :cost %>
	    <%= f.label "Ubicación" %>
	    <%= f.text_field :location %>
	  </p>
	  <p>
	    <%= f.submit "Guardar", class: "btn btn-sm btn-primary" %>
	  </p>
	<% end %>