  	<h1>Datos del grupo</h1>
	<%= form_for(@group) do |f| %>
	<%= render 'shared/error_messages', object: f.object %>
	  <p>
	    <%= f.label "Nombre del Grupo" %>
	    <%= f.text_field :name %>
	    <%= f.label "Facilitador" %>
	    <%= select("group", "user_id", User.all.collect {|p| [ p.name, p.id ] }, { include_blank: 'Selecciona'}) %>
	    <%= f.label "Edad mínima (Semanas)" %>
	    <%= f.number_field :min_age %>
	    <%= f.label "Edad máxima (Semanas)" %>
	    <%= f.number_field :max_age %>
	    <%= f.label "Inicio de curso" %>
	    <span id="selector_fecha">
	    	<%= f.date_select :init_date, { :include_blank  => true, :order => [:day, :month, :year] }, { :class => 'date_selector' }  %>
	    </span>
	    <%= f.label "Fin de curso" %>
	    <span id="selector_fecha">
	    	<%= f.date_select :finish_date, { :include_blank  => true, :order => [:day, :month, :year] }, { :class => 'date_selector' }  %>
	    </span>
	    <%= f.label "Costo" %>
	    <%= f.number_field :cost %>
	    <%= f.label "Ubicación" %>
	    <%= f.text_field :location %>
	  </p>
	  <p>
	    <%= f.submit "Guardar", class: "btn btn-sm btn-primary" %>
	  </p>
	<% end %>