<h1>Inscritos</h1>
<% if(@group.spots.empty?) %>
	<!--<h2>No hay spots</h2>
	<p>
		<button type="button" class="btn btn-default"><%= link_to "Nuevo Spot", new_group_spot_path(@group) %></button>
	</p>-->
<% else %>
	<table class="table table-striped">
		<tr>
			<th>spot</th>
			<th>Niño</th>
			<th>Cuidador</th>
			<th>Pagos</th>
			<th>Saldo</th>
		</tr>
		<% @group.spots.each_with_index do |spot,index| %>
			<tr>

				<td><%= link_to index, group_spot_path(@group, spot) %></td>
				<td><%= link_to "#{spot.child.name} #{spot.child.first_last_name} #{spot.child.second_last_name}", person_path(spot.child.id) %></td>
				<td>
					<% if(spot.tutor) %>
					<%= link_to "#{spot.tutor.name} #{spot.tutor.first_last_name} #{spot.tutor.second_last_name}", person_path(spot.tutor.id)  %>
					<% end %>
				</td>
				<% total = 0 %>
				<% spot.payments.each do |p| %>
					<% total = total + p.amount %>
				<% end %>
				<td>$<%= total %></td>
				<td>$<%= @group.cost-total %></td>
			</tr>
		<% end %>
	</table>
<% end %>