<% provide(:title, "Grupo #{ @group.name }") %>

<div class="boton_izq">
	<p>
	  <button type="button" class="btn btn-info"><%= link_to "Regresar a Grupos", groups_path %></button>
	</p>
	<p>
		<button type="button" class="btn btn-default btn-xs"><%= link_to "Editar Grupo", edit_group_path(@group) %></button>
	</p>
	<p>
		<button type="button" class="btn btn-default"><%= link_to "Nueva Clase", new_group_lecture_path(@group) %></button>
	</p>
</div>
<table class="table table-striped">
	<tr>	
		<th>Nombre del Grupo</th>
		<th>Edad Mínima</th>
		<th>Edad Máxima</th>
		<th>Fecha de Inicio</th>
		<th>Fecha de termino</th>
		<th>Ubicación</th>
		<th>Costo</th>
	</tr>	
	<tr>
		<td><%= @group.name %></td>
		<td><%= @group.min_age %></td>
		<td><%= @group.max_age %></td>
		<td id="init"><%= @group.init_date.strftime('%m/%d/%Y') %></td>
		<td id="finish"><%= @group.finish_date.strftime('%m/%d/%Y') %></td>
		<td><%= @group.location %></td>
		<td>$<%= @group.cost %></td>
	</tr>
</table>
<% if(@group.lectures.empty?) %>
		<h1>No Hay Clases</h1>
		<p class="boton_cen">
			<button type="button" class="btn btn-default"><%= link_to "Agregar Clase", new_group_lecture_path(@group) %></button>
		</p>
	<% else %>
	<h1>Clases</h1>
	<table class="table table-striped">
		<tr>	
			<th>Fecha</th>
			<th>Hora</th>
			<th>Observación</th>
			<th>Editar</th>
			<!--<th>Borrar</th>-->
		</tr>	
		<% @group.lectures.each do |lecture| %>
			<tr>
				<td><%= link_to "#{lecture.date.strftime('%m/%d/%Y')}", group_lecture_path(@group, lecture) %></td>
				<td><%= lecture.date.strftime('%I:%M %p') %></td>
				<td><%= lecture.observation %></td>
				<td><button type="button" class="btn btn-default btn-xs"><%= link_to "Editar Clase", edit_group_lecture_path(@group, lecture) %></button></td>
				<!--<td><button type="button" class="btn btn-danger btn-xs"><%= link_to "Borrar Clase", group_lecture_path(@group, lecture), method: :delete, data: { confirm: "Estas Seguro?" } %></button></td>-->
			</tr>
		<% end %>
	</table>
<% end %>
<% if(@group.spots.empty?) %>
	<!--<h2>No hay spots</h2>
	<p>
		<button type="button" class="btn btn-default"><%= link_to "Nuevo Spot", new_group_spot_path(@group) %></button>
	</p>-->
<% else %>
	<h1>Spots</h1>
	<table class="table table-striped">
		<tr>
			<th>Niño</th>
			<th>Cuidador</th>
			<th>Pagos</th>
			<!--<th>Editar</th>
			<th>Borrar</th>-->
		</tr>
		<% @group.spots.each do |spot| %>
			<tr>
				<td><%= link_to "#{spot.child.name} #{spot.child.first_last_name} #{spot.child.second_last_name}", group_spot_path(@group, spot) %></td>
				<td><% if(spot.tutor) %><%= "#{spot.tutor.name} #{spot.tutor.first_last_name} #{spot.tutor.second_last_name}" %><% end %></td>
				<% total = 0 %>
				<% spot.payments.each do |p| %>
					<% total = total + p.amount %>
				<% end %>
				<td>$<%= total %></td>
				<!--<td><button type="button" class="btn btn-default btn-xs"><%= link_to "Editar Spot", edit_group_spot_path(@group, spot) %></button></td>
				<td><button type="button" class="btn btn-danger btn-xs"><%= link_to "Borrar Spot", group_spot_path(@group, spot), method: :delete, data: { confirm: "Estas Seguro?" } %></button></td>-->
			</tr>
		<% end %>
	</table>
<% end %>