<% provide(:title, "Grupo #{ @group.name }") %>
<div class="boton_der">
	<p>
	  <button type="button" class="btn btn-info"><%= link_to "Regresar a Grupos", groups_path %></button>
	</p>
	<p>
		<button type="button" class="btn btn-default"><%= link_to "Editar Grupo", edit_group_path(@group) %></button>
	</p>
</div>
<br><br><br>
<div class="panel panel-primary">
	<div class="group_info">
		<li><strong>Edad:</strong> <%= @group.min_age %> - <%= @group.max_age %></li>
		<li><strong>Periodo:</strong> <%= @group.init_date.strftime('%m/%d/%Y') %> - <%= @group.finish_date.strftime('%m/%d/%Y') %></li>
		<li><strong>Costo:</strong>$<%= @group.cost %></li>
		<li><strong>Ubicación:</strong><%= @group.location %></li>
		<li><strong>Facilitadora:</strong><%= @group.facilitador %></li>
  </div>
</div>

<%= render 'groups/lectures'  %>
<div class="boton_der">
	<p>
		<button type="button" class="btn btn-default"><%= link_to "Nueva Clase", new_group_lecture_path(@group) %></button>
	</p>
</div>
<br><br>

<%= render 'groups/spots'  %>

<div class="boton_der">
	<p>
		<button type="button" class="btn btn-default"><%= link_to "Inscripciones", new_group_spot_path(@group) %></button>
	</p>
</div>