<% provide(:title, "Grupo #{ @group.name }") %>
<div class="boton_der">
	<p>
	  <button type="button" class="btn btn-info"><%= link_to "Regresar a Grupos", groups_path %></button>
	</p>
</div>

<table class="table table-striped">
	<tr>	
		<th>Nombre del Grupo</th>
		<th>Edad Mínima</th>
		<th>Edad Máxima</th>
		<th>Fecha de Inicio</th>
		<th>Fecha de termino</th>
		<th>Ubicación</th>
		<th>Costo</th>
	</tr>	
	<tr>
		<td><%= @group.name %></td>
		<td><%= @group.min_age %></td>
		<td><%= @group.max_age %></td>
		<td id="init"><%= @group.init_date.strftime('%m/%d/%Y') %></td>
		<td id="finish"><%= @group.finish_date.strftime('%m/%d/%Y') %></td>
		<td><%= @group.location %></td>
		<td>$<%= @group.cost %></td>
	</tr>
</table>

<div class="boton_der">
	<p>
		<button type="button" class="btn btn-default btn-xs"><%= link_to "Editar Grupo", edit_group_path(@group) %></button>
	</p>
</div>
<br><br>

<%= render 'groups/lectures'  %>
<%= render 'groups/spots'  %>

<div class="boton_der">
	<p>
		<button type="button" class="btn btn-info"><%= link_to "Inscripciones", new_group_spot_path(@group) %></button>
	</p>
	<p>
		<button type="button" class="btn btn-default"><%= link_to "Nueva Clase", new_group_lecture_path(@group) %></button>
	</p>
</div>