<div class="boton_der">
	<p>	<button type="button" class="btn btn-info"><%= link_to "Regresar a Usuarios", users_path %></button></p>
</div>
<div class="row">
  <div class="span6 offset3">
    <%= form_for @user, :html => { :multipart => true } do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
		<p>
			<%= f.label "Nombre", :for => 'user_name' %>
			<%= f.text_field :name %>
		</p>
		<p>
			<%= f.label :photo, "Foto"  %>
			<%= f.file_field :photo  %>
		</p>
		<p>
			<%= f.label "Email", :for => 'user_email' %>
			<%= f.text_field :email %>
		</p>
		<% if current_user.admin? %>
			<% if !current_user?(@user) %>
				<p>
					<%= f.check_box :admin  %>
					<%= f.label 'admin', "Administrador", { :class => "checkbox inline" } %>
				</p>
			<% end %>
			<p>
				<%= f.check_box :coordinator  %>
				<%= f.label 'coordinator', "Coordinador", { :class => "checkbox inline" } %>
			</p>
			<p>
				<%= f.check_box :facilitator  %>
				<%= f.label 'facilitator', "Facilitador", { :class => "checkbox inline" } %>
			</p>
		<% end %>
		<% if params[:action] == 'new' || params[:action] == 'create' %>
			<p>
				<%= f.label "Contrase침a", :for => 'user_password' %>
				<%= f.password_field :password, :value => @user.password %>
			</p>
			<p>
				<%= f.label "Confirmaci칩n de Contrase침a", :for => 'user_password_confirmation' %>
				<%= f.password_field :password_confirmation, :value => @user.password %>
			</p>
		<% end %>
		<p><%= f.submit "Guardar", class: "btn btn-sm btn-primary" %></p>
    <% end %>
  </div>
</div>
<% if params[:action] == 'edit' %>
	<div class="boton_der">
		<p><button type="button" class="btn btn-default"><%= link_to "Cambiar contrase침a", edit_password_reset_path(@user) %></button></p>
	</div>
<% end %>