<div class="boton_der">
	<p>
		<button type="button" class="btn btn-info"><%= link_to "Regresar a Grupo", group_path(@group) %></button>
	</p>
	<p>
		<button type="button" class="btn btn-info"><%= link_to "Regresar a Spot", group_spot_path(@group,@spot) %></button>
	</p>
</div>
<div class="row">
  <div class="span6 offset3">
	<%= form_for([@group, @spot, @payment]) do |f| %>
	<%= render 'shared/error_messages', object: f.object %>
	  <p>
	    <%= f.label "Fecha & hora" %>
	    <span>
			<span id="selector_fecha">
				<%= f.date_select :date, { :include_blank  => true, :order => [:day, :month, :year] }, { :class => 'date_selector' }  %>
			</span>
		</span>
	</p>
	<p>
		<%= f.label "Cantidad:", :for => 'payment_amount' %>
		<%= f.number_field :amount %>
	</p>
	<p>
		<%= f.label "Beca:", :for => 'payment_scholarship' %>
		<%= f.check_box :scholarship %>
	</p>
	<p><%= f.submit "Guardar", class: "btn btn-sm btn-primary" %></p>
	<% end %>
  </div>
</div>