<div class="boton_der">
	<p>
	  <button type="button" class="btn btn-default"><%= link_to "Regresar a Ejercicios", exercises_path %></button>
	</p>
</div>
<div class="row">
	<div class="span6 offset3">
		<%= form_for(@exercise) do |f| %>
		<%= render 'shared/error_messages', object: f.object %>
		<p>
			<%= f.label "Area" %>
			<%= select("exercise", "area", [[ 'Motricidad Gruesa', 'Motricidad Gruesa' ],[ 'Motricidad Fina', 'Motricidad Fina' ],[ 'Lenguaje', 'Lenguaje' ],[ 'Sensorial Cognositiva', 'Sensorial Cognositiva' ],[ 'Socio Emocional', 'Socio Emocional' ],[ 'Otro', 'Otro' ]], { include_blank: 'Selecciona un area'}) %>
			<br>
			<input id="other_name" type="text" placeholder="Escribe el area" style="margin-top: -48px; width: 185px; display:none; " name="person[other]">
		</p>
		<p>
			<%= f.label "Edad Mínima", :for => 'exercise_min_age' %>
			<%= f.number_field :min_age %>
		</p>
		<p>
			<%= f.label "Edad Máxima", :for => 'exercise_max_age' %>
			<%= f.number_field :max_age %>
		</p>
		<p>
			<%= f.label "Objetivo", :for => 'exercise_objective' %>
			<%= f.text_area :objective %>
		</p>
		<p>
			<%= f.label "Descripción", :for => 'exercise_description' %>
			<%= f.text_area :description %>
		</p>
		<p>
			<%= f.label "Material", :for => 'exercise_material' %>
			<%= f.text_area :material %>
		</p>
		<p>
			<%= f.label "Música", :for => 'exercise_music' %>
			<%= f.text_area :music %>
		</p>
		<p>
			<%= f.submit "Guardar", class: "btn btn-sm btn-primary" %>
		</p>
		<% end %>
	</div>
</div>
<script>
	$(document).ready(function() {
		$("#exercise_area").change(function () {
			var value = $(this).val();
			if(value=='Otro') $("#other_name").val("").show().focus();
			else $("#other_name").hide().blur();
		});

		$("#other_name").on('keyup',function(e){
			var newOption = $(this).val();
		});

	});
</script>