<% provide(:title, @exercise.full_name) %>
<div class="boton_der">
	<p>
		<button type="button" class="btn btn-info"><%= link_to "Regresar a Ejercicios", exercises_path %></button>
	</p>
</div>
<table class="table table-striped">
	<tr>
		<tr>
			<th>Objectivo</th>
			<td><%= @exercise.objective %></td>
		</tr>
		<tr>
			<th>Descripción</th>
			<td><%= @exercise.description %></td>
		</tr>
		<tr>
			<th>Material</th>
			<td><%= @exercise.material %></td>
		</tr>
		<tr>
			<th>Música</th>
			<td><%= @exercise.music %></td>
		</tr>
	</tr>
</table>
<div class="boton_der">
	<% if(@exercise.lectures.empty?) %>
		<p>
			<button type="button" class="btn btn-danger btn-xs"><%= link_to "Borrar Ejercicio", exercise_path(@exercise),
				method: :delete, data: { confirm: "Estas Seguro?" } %></button>
		</p>
	<% end %>
	<p>
		<button type="button" class="btn btn-default"><%= link_to "Editar Ejercicio", edit_exercise_path %></button>
	</p>
</div>