<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to image_tag("D0A3-logo.png", alt: "De Cero A Tres", :width => 120) , root_path, id: "logo" %>
      <nav>
        <ul class="nav pull-right">
          <% if signed_in? %>
            <li><%= link_to "#{current_user.name}:", edit_user_path(current_user) %></li>
            <li><%= link_to "Home", root_path %></li>
            <li><%= link_to "Familias", families_path %></li>
            <li><%= link_to "Grupos", groups_path %></li>
            <li><%= link_to "Miembros", people_path %></li>
            <li><%= link_to "Usuarios", users_path %></li>
            <li><%= link_to "Sign out", signout_path, method: "delete" %></li>
          <% else %>
            <li><%= link_to "Sign in", signin_path %></li>
          <% end %>
        </ul>
      </nav>
    </div>
    <div class="purple-line"></div>
  </div>
</header>